body {
    background-color: #121212;
    color: #090909;
}
.border {
    border: 1px solid #e7d7d7;
}
.header, .footer {
    background-color: #1e1e1e;
}

.button {
    background-color: #6200ea;
    color: white;
}